<div class="center jumbotron">
  <h1>Documentation & Setup</h1>
</div>
<div class="container">
<h3> What you need</h3>
<ul class="list-unstyled">
  <li>Hardware
    <ul>
      <li>Raspberry Pi 3</li>
      <li>DS18b20 Temperature Sensor & Breakout Board</li>
      <li>Jumper Cables</li>
    </ul>
  </li>
</ul>
</div>
