<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/nickdossantos/reeftankapp"> ReefTank App Source</a>
      by <a href="https://github.com/nickdossantos"> Nick Dos Santos</a>
    </small>
    <nav>
      <ul>
        <li><%=link_to "Home", root_path%></li>
      </ul>
    </nav>
  </footer>
